.body{
    
    width:100%;
    height:100%;
    background-color: white;
   
}
.form{
    border-radius:8px;
    width:300px;
    align-items: center;
    background-color:lightblue;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    font-style:arial; 
    padding:30px;
    border:7px solid;
    border-color:black;
   
    
}
#btnn{
   text-align:center;
    margin-top:7px;
 
}
h3{
    text-align:center;
}

.container{
    width: 30%;
    height: 300px;
    background-color: rgb(209, 231, 245);
    margin-top: 30px;
    border: 10px solid black;
}