.body{
    
    width:100%;
    height:100%;
    background-color: lightskyblue;
   
}
.form{
    border-radius:8px;
    width:440px;
    align-items: center;
    background-color:white;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    
   
    font-style:arial; 
   
    
}
.rigt{
    float:right;
}
.input-xl {
    width: 335px;
  }
  .input-xll{
    width: 350px;
  }
#inp {
    border: 0;
    border-radius:0;
    background: transparent;
    border-bottom: 1px solid black;
  }
#image{
    width:440px;
}
.texts{
   
    padding:45px;
}

