body{
    background-color: skyblue;
    width:100%;
    height:100%;
   
}
form{
    
    border-radius: 25px;
    background-color:white;
    margin:0;
    padding:10%;
   
    text-align:center;
     
}

#form{
   
  
    padding-bottom:100px;
    padding-top:50px;
    padding-right:250px;
    padding-left:250px;   
}

